<% include ../partials/header %>

<a href="/index"><button>HOME</button></a>

<p>Welcome <%=user.firstName %>!</p>

<h1>Your Info</h1>
<div class="spacey"><a href="/users/<%= user._id %>/myaccount"><button>Edit my User Details</button></a></div>


<h1>Facebook</h1>
<div class="spacey"><a href="/users/<%= user._id %>/authorize/facebook"><button>Go to Facebook Login</button></a></div>
<div class="spacey"><a href="/users/<%= user._id %>/landing/facebook"><button>Go to Facebook photo stream</button></a></div>

<h1>Instagram</h1>
<div class="spacey"><a href="/users/<%= user._id %>/authorize/instagram"><button>Go to Instagram Login</button></a></div>
<div class="spacey"><a href="/users/<%= user._id %>/landing/show/instagram"><button>Go to Instagram photo stream</button></a></div>

<h1>Flickr</h1>
<div class="spacey"><a href="/users/<%= user._id %>/authorize/flickr"><button>Go to Flickr Login</button></a></div>
<div class="spacey"><a href="/users/<%= user._id %>/landing/show/flickr"><button>Go to Flickr photo stream</button></a></div>

<p>All done?</p>
<a href="/logout"><button class="button logout">Logout</button></a>


<% include ../partials/footer %>
