<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">


	<div class="horizontal-line-spacer"></div>

	<h4>My Family Group</h4>
	<div>

		<!-- conditional show -->
		<div class="callout">
			<i class="announcement icon big float-left"></i>
			<p>It looks like you're not a member of a group yet. You can create a new group or join a group you've been invited to.</p>
		</div>

		<div class="center-buttons">
			<a href="/group/new"><h2 class="float-left inline"><button class="button button-large">CREATE NEW GROUP</button></h2></a> 

			<a href="/group/join"><h2 class="float-right inline"><button class="button button-large">JOIN EXISTING GROUP</button></h2></a>	
		</div>

		<h5 class="heading-underline">Group Details</h5>
		<div>
			<p>Group Name</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Public Photo Album Website Address</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Group Memebers</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Group Admin</p>
			<p class="spacey-bottom">placeholder text</p>
		</div>

		<a href="group/getgroup/edit"><h2><button class="button float-right">EDIT GROUP</button></h2></a> 	

	</div>
	


	<div class="horizontal-line-spacer"></div>

	<h4>My Photos</h4>

		<!-- conditional show -->
		<div class="callout">
			<i class="announcement icon big float-left"></i>
			<p>We don't have any photos from you. Please get started by connecting a service.</p>
		</div>

		<div class="photo-area-user-show-page">
			<h5 class="heading-underline">Facbook</h5>

			<a href="/users/<%= user._id %>/authorize/facebook"><h2><button class="button">CONNECT FACEBOOK</button></h2></a>

			<a href="/users/<%= user._id %>/landing/facebook"><h2><button class="button">VIEW ALL</button></h2></a>
			<a href="/users/<%= user._id %>/authorize/facebook"><h2><button class="button">ADD MORE</button></h2></a>
		</div>

		<div class="photo-area-user-show-page">
			<h5 class="heading-underline">Flickr</h5>

			<a href="/users/<%= user._id %>/authorize/flickr"><h2><button class="button">CONNECT FLICKR</button></h2></a>

			<a href="/users/<%= user._id %>/landing/show/flickr"><h2><button class="button">VIEW ALL</button></h2></a>
			<a href="/users/<%= user._id %>/authorize/flickr"><h2><button class="button">ADD MORE</button></h2></a>
		</div>

		<div class="photo-area-user-show-page">
			<h5 class="heading-underline">Instagram</h5>

			<a href="/users/<%= user._id %>/authorize/instagram"><h2><button class="button">CONNECT INSTAGRAM</button></h2></a>

			<a href="/users/<%= user._id %>/landing/show/instagram"><h2><button class="button">VIEW ALL</button></h2></a>
			<a href="/users/<%= user._id %>/authorize/instagram"><h2><button class="button">ADD MORE</button></h2></a>
		</div>



</div> <!-- <div class="user-show-page-main"> -->


<% include ../partials/footer %>