<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">


	<div class="horizontal-line-spacer"></div>

	<h4>My Family Group</h4>
	<div>

		<!-- conditional show -->
		<div class="callout">
			<i class="announcement icon big float-left"></i>
			<p>It looks like you're not a member of a group yet. You can create a new group or join a group you've been invited to.</p>
		</div>

		<div class="center-buttons">
			<a href="/group/new"><h2 class="inline"><button class="button button-large">CREATE NEW GROUP</button></h2></a> 

			<a href="/group/join"><h2 class="inline"><button class="button button-large">JOIN EXISTING GROUP</button></h2></a>	
		</div>

		<h5 class="heading-underline-bold">Group Details</h5>
		<div>
			<p>Group Name</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Public Photo Album Website Address</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Group Memebers</p>
			<p class="spacey-bottom">placeholder text</p>
			<p>Group Admin</p>
			<p class="spacey-bottom">placeholder text</p>
		</div>

		<a href="group/getgroup/edit"><h2><button class="button">EDIT GROUP</button></h2></a> 	

	</div>
	


	<div class="horizontal-line-spacer"></div>

	<h4>My Photos</h4>

		<!-- show if user does NOT have ANY API user ids -->
		<% if (!user.facebookId && user.instagramId && user.flickrId ) { %>
			<div class="callout">
				<i class="announcement icon big float-left"></i>
				<p>We don't have any photos from you. Please get started by connecting a service.</p>
			</div>
		<% } %>



			

		<div class="photo-area-user-show-page">
			<h5 class="heading-underline-bold">Facebook</h5>

			<!-- show if user does NOT have a facebook user id -->
			<% if (!user.facebookId) { %>

				<a href="/users/<%= user._id %>/authorize/facebook"><h2><button class="button">CONNECT FACEBOOK</button></h2></a>

			<% } %>

			<!-- show if user has a facebook user id -->
			<% if (user.facebookId) { %>


			<div>
				<h5 class="inline">Most recent photos</h5>

				
			</div>

			<div class="photo-preview-max-eight float-left" ng-controller="FacebookPhotoPreviewAll">
				<span ng-repeat="photo in photosEight">
					<span class="photo-wrapper-facebook">
						<img src="{{ photo }}" height="150" class="inline">
					</span>
				</span>
			</div>


				<a href="/users/<%= user._id %>/landing/facebook"><h2><button class="button">VIEW ALL</button></h2></a>

				<a href="/users/<%= user._id %>/authorize/facebook"><h2><button class="button">ADD MORE</button></h2></a>

		
			<% } %>


		</div>




		<div class="photo-area-user-show-page">
			<h5 class="heading-underline-bold">Flickr</h5>

			<a href="/users/<%= user._id %>/authorize/flickr"><h2><button class="button">CONNECT FLICKR</button></h2></a>

			<a href="/users/<%= user._id %>/landing/show/flickr"><h2><button class="button">VIEW ALL</button></h2></a>
			<a href="/users/<%= user._id %>/authorize/flickr"><h2><button class="button">ADD MORE</button></h2></a>
		</div>



		<div class="photo-area-user-show-page spacey-bottom-footer">
			<h5 class="heading-underline-bold">Instagram</h5>

			<a href="/users/<%= user._id %>/authorize/instagram"><h2><button class="button">CONNECT INSTAGRAM</button></h2></a>

			<a href="/users/<%= user._id %>/landing/show/instagram"><h2><button class="button">VIEW ALL</button></h2></a>
			<a href="/users/<%= user._id %>/authorize/instagram"><h2><button class="button">ADD MORE</button></h2></a>
		</div>



</div> <!-- <div class="user-show-page-main"> -->


<% include ../partials/footer %>